.btn:hover {
	filter: brightness(1.2);
}
.btn {
	padding: 1.5rem 4rem;
	border: none;
	border-radius: 25px;
	color: white;
	background-color: var(--lime-green);
	background-image: linear-gradient(
		315deg,
		var(--bright-cyan) 0%,
		var(--lime-green) 80%
	);
	font-weight: bold;
	cursor: pointer;
	transition: filter 0.2s;
}

@media (min-width: 1024px) {
	.btn {
		font-size: 1.6rem;
	}
}
