.errorPopup {
	position: fixed;
	max-width: 500px;
	min-width: 250px;
	border-radius: 10px;
	top: -200px;
	left: 50%;
	transform: translateX(-50%);
	padding: 2rem;
	background-color: white;
	border: 3px solid var(--dark-blue);
	background-image: linear-gradient(
		315deg,
		hsla(192, 59%, 66%, 0.671) 0%,
		hsla(136, 74%, 65%, 0.708) 80%
	);
	transition: top 0.2s;
	z-index: 5;
}

.errorPopup.active {
	top: 100px;
}

.errorPopup p:first-child {
	font-size: 3rem;
	line-height: 1rem;
	margin-top: 1rem;
	text-align: center;
}

.errorPopup p {
	font-weight: bold;
	color: var(--dark-blue);
}

.timer {
	position: absolute;
	top: 0;
	right: 20px;
}
