.footer {
	background-color: var(--dark-blue);
}
.footerWrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5rem 0 3rem;
}

.footerLogoBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerBtnBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.socials {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 3rem 0 2rem;
	width: 200px;
}

.socials svg {
	cursor: pointer;
}

.socials svg path {
	transition: fill 0.2s;
}

.socials svg:hover path {
	fill: var(--lime-green);
}

.copy {
	margin-bottom: 0;
}

.footer nav ul {
	margin-bottom: 3rem;
	padding: 0;
	text-align: center;
	list-style: none;
	font-size: 1.4rem;
}

.footer nav li {
	color: var(--light-grayish-blue);
	margin-bottom: 1.5rem;
	transition: 0.2s;
	cursor: pointer;
}

.footer nav li:hover {
	color: var(--lime-green);
}

.footer p {
	margin-top: 2rem;
}

.footerIconBox {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 1024px) {
	.footerWrapper {
		justify-content: space-between;
		flex-direction: row;
		padding: 5rem 2rem 3rem;
	}

	.footerBtnBox {
		align-items: flex-end;
	}

	.footerLogoBox {
		justify-content: flex-start;
	}

	.footer nav ul {
		display: flex;
		text-align: left;
		font-size: 1.6rem;
	}

	.footer nav ul div {
		margin-left: 6rem;
	}

	.footerWrapperNav {
		width: 50%;
		display: flex;
		justify-content: space-between;
	}
}
