@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap");

:root {
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--bright-cyan: hsl(192, 70%, 51%);
	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.8rem;
	font-family: "Public Sans", sans-serif;
	overflow-x: hidden;
	background-color: var(--very-light-gray);
}
